* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


/******************* HEADER *******************/
._edge_bottom {
  position: relative;
  z-index: 1;
  background: rgba(26,26,26,1);
  color: #fff;
  padding: 180px 0 80px;
  font-family: 'Inter', sans-serif;
}
._edge_bottom:after {
  background: linear-gradient(180deg, rgba(26,26,26,1) 5%, rgba(35,35,35,1) 40%, rgba(42,42,42,1) 60%, rgba(49,49,49,1) 80%);
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: skewY(-4deg);
  transform-origin: 100%;
}
._edge_bottom > div {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
._edge_bottom h1 {
  font-size: 48px;
  margin-bottom: 16px;
}
._edge_bottom p {
  color: #b6b7b9;
  font-size: 18px;
  padding-top: 16px;
}

@media screen and (max-width: 1200px) {
  ._edge_bottom > div {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  ._edge_bottom > div {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  ._edge_bottom > div {
    max-width: 540px;
  }
}
@media screen and (max-width: 567px) {
  ._edge_bottom > div {
    max-width: 90%;
  }
}


/******************* MAIN *******************/
#_wrapper {
  position: relative;
  top: -30px;
  z-index: 10;
  height: 500px;
  width: 1170px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}
._row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
._card {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 32px;
}
._card > div {
  height: 310px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(26,32,44,.08);
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
}
._card > div:hover {
  box-shadow: 0 6px 12px 0 rgb(0 0 0 / 8%), 0 3px 6px 0 rgb(0 0 0 / 8%), 0 1px 3px 0 rgb(26 32 44 / 8%);
}
._card > div > a {
  display: inline-block;
  background: linear-gradient(180deg, rgba(17,17,17,1) 10%, rgba(35,35,35,1) 30%, rgba(42,42,42,1) 50%, rgba(49,49,49,1) 100%);
}
._card img {
  width: 100%;
}
._card ._card_body {
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  padding: 16px;
  position: absolute;
  bottom: 0;
}
._card ._card_body h5 {
  font-size: 20px;
  margin-bottom: 4px;
  color: #19191a;
}
._card ._card_body span {
  display: inline-block;
  font-size: 14px;
  color: #7a8085;
}
._card ._card_links {
  margin-top: 8px;
  display: none;
}
._card > div:hover ._card_body {
  height: auto;
}
._card > div:hover ._card_links {
  display: block;
}
._card ._card_links i {
  font-size: 20px;
  margin-right: 6px;
}
.fa-linkedin { color: #0072b1; }
.fa-twitter { color: #00acee; }
.fa-facebook { color: #4267b2; }
.fa-globe { color: #777; }

@media screen and (max-width: 1200px) {
  #_wrapper {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  #_wrapper {
    width: 720px;
  }
  ._card {
    width: 33.3%;
  }
}
@media screen and (max-width: 768px) {
  #_wrapper {
    width: 540px;
  }
  ._card {
    width: 100%;
  }
  ._card > div {
    flex-direction: row;
    height: 170px;
  }
  ._card > div > a {
    margin: 16px;
    border-radius: 4px;
  }
  ._card img {
    height: 100%;
    width: auto;
  }
  ._card ._card_body {
    position: static;
    border-radius: 4px;
  }
}
@media screen and (max-width: 567px) {
  #_wrapper {
    width: 90%;
  }
}